@layer mantine {
  .root {
    border-radius: var(--bz-radius-sm);
    transition: background var(--bz-duration-normal) var(--bz-ease-standard),
                transform var(--bz-duration-normal) var(--bz-ease-standard),
                box-shadow var(--bz-duration-normal) var(--bz-ease-standard);

    @include mantine.dark {
      color: var(--bz-text-primary);

      &[data-variant="gradient"] {
        color: #fff;
      }
    }

    &[data-variant="danger"] {
      background-color: var(--mantine-color-red-9);
      color: var(--mantine-color-red-0);
    }
  }

  .root:disabled {
    @include mantine.dark {
      color: var(--bz-text-disabled);
    }
  }
}
